@font-face {
    font-family: "corbel";
    src: url('../fonts/CORBEL.TTF')  format('truetype');
}

@font-face {
    font-family: "helvetica";
    src: url('../fonts/Helvetica-regular.ttf')  format('truetype');
}

@font-face {
    font-family: "gillsans";
    src: url('../fonts/gill-sans-medium.otf')  format('opentype');
}