@import "_var";

html, body {
    font-family: "corbel";
}

.container {
    &--relative {
        position: relative;
    }

    @media screen and (max-width: 1199px) {
        margin: 0 15px;
    }

    @media screen and (min-width: 992px) {
        max-width: 1230px;
    }

    @media screen and (max-width: 991px) {
        margin: 0 auto;
    }

    @media screen and (max-width: 575px) {
        padding: 0 15px !important;
    }
}

.btn {
    border: none;
    outline: none;
    background-image: linear-gradient(90deg, $color-light-orange, $color-dark-orange);
    cursor: pointer;
    color: $color-btn;
    font-size: 21px;
    padding: 8px 42px;
    border-radius: 10px;

    @media screen and (max-width: 767px) {
        font-size: 18px;
        padding: 9px 28px;
    }
}

.slider__text {
    font-size: 18px;
    line-height: 22px;
    color: $color-text;
    margin-bottom: $margin-bottom;
}